<section>
  <div class="container-fluid">
    <div class="row">
      <h1>Connecting the Community</h1>
    <p>Copia is a platform for people to request and fund short-term micro loans. It's simple: users 
      can borrow or loan to anyone in the community, based entirely on each individual's preferences. Karma is the social currency of Copia and provides users with a concise metric of other community members' activity. For example, if Vincent submits a loan request of $100 (for, maybe, adrenaline shots) with a promised repayment of $110 and another user Jules decides to fund the loan (in the name of charity and goodwill), Jules will immediately receive 100 karma points. Upon repayment, Vincent will then receive 110 karma points-the repayment amount. 
       </p>
    </div>
    <div class="row">
      <img src="../img/ancient-aliens-hair-dude.png" class="circular" alt="Responsive image">
      <h3>Brendon Verissimo</h3>
      <p></p>
    </div>
    <div class="row">
      <img src="../img/ancient-aliens-hair-dude.png" class="circular" alt="Responsive image">
      <h3>Walid Hosseini</h3>
      <p>**Add bio here**</p>
    </div>
    <div class="row">
      <img src="../img/ancient-aliens-hair-dude.png" class="circular" alt="Responsive image">
      <h3>Will Gester</h3>
      <p>**Add bio here**</p>
    </div>
    <div class="row">
      <img src="../img/ancient-aliens-hair-dude.png" class="circular" alt="Responsive image">
      <h3>Arkady Prevzner</h3>
      <p>**Add bio here**</p>
    </div>
    <div class="row">
      <img src="../img/ancient-aliens-hair-dude.png" class="circular" alt="Responsive image">
      <h3>Juan Marin</h3>
      <p>**Add bio here**</p>
    </div>
  </div>

</section>