<section>
  <div class="container-fluid">
    <div class="row">
      <img src="../img/ancient-aliens-hair-dude.png" class="circular" alt="Responsive image">
      <h3>Brendon Verissimo</h3>
      <p></p>
    </div>
    <div class="row">
      <img src="../img/ancient-aliens-hair-dude.png" class="circular" alt="Responsive image">
      <h3>Walid Hosseini</h3>
      <p>**Add bio here**</p>
    </div>
    <div class="row">
      <img src="../img/ancient-aliens-hair-dude.png" class="circular" alt="Responsive image">
      <h3>Will Gester</h3>
      <p>**Add bio here**</p>
    </div>
    <div class="row">
      <img src="../img/ancient-aliens-hair-dude.png" class="circular" alt="Responsive image">
      <h3>Arkady Prevzner</h3>
      <p>**Add bio here**</p>
    </div>
    <div class="row">
      <img src="../img/ancient-aliens-hair-dude.png" class="circular" alt="Responsive image">
      <h3>Juan Marin</h3>
      <p>**Add bio here**</p>
    </div>
  </div>

</section>