<div class='dashboardHeader'>
  <a href="#/borrow" class='glyphicon glyphicon-chevron-left'></a>
  <h2>C (add logo)</h2>
  <a href="" class="glyphicon glyphicon-align-justify"></a>
</div>

<h2>Loan Request Confirmation:</h2>
<div class='loanConfText'>
  <p>
    Loan amount: {{ loan.loanAmount }}
    <br>Payback amount: {{ loan.paybackAmount }}
    <br>Debt Due By: {{ loan.debtDueDate }}
    <br>Debt Deadline: {{ loan.debtDeadlineDate }}
    <br>Debt Category: {{ loan.debtCategory }}
    <br>Debt Reason: {{ loan.debtReason }}
  </p>
  <p>TERMS OF SERVICE:</p>
</div>

<button class='btn btn-danger'>Cancel</button>
<button class='btn btn-success' ng-click="submitBorrowRequest()">Accept</button>