<!-- <div class='dashboardHeader'>
  <a href="#/borrow" class='glyphicon glyphicon-chevron-left'></a>
  <h2>C (add logo)</h2>
  <a href="" class="glyphicon glyphicon-align-justify"></a>
</div> -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="white text-center">Loan Request Confirmation</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="h4 white">
        You have requested <strong>{{ loan.principal }}</strong> and need the funding by <strong>{{ loan.match_deadline }}</strong>.
      </p>
      <p class="h4 white">
        If funded, you agree to repay <strong>{{ loan.payback_amount }}.00</strong> within <strong>{{ loan.paybackDays }}</strong> days after receiving the loan.
      </p>
      <p class="h4 white">
        You debt falls under the category of <strong>{{ loan.category }}</strong> and the specific reason you need the funding is:
      </p>
      <p class="h4 white text-center">
        <em>{{ loan.reason }}</em>
      </p>
      <p class="h4 white">
        Copia's Terms of Service apply if you receive funding.
      </p>
    </div>
  </div>
  <div class="button-group row">
    <div class="col-xs-4 col-xs-offset-2">
      <button ng-click="cancel()" class="btn btn-outline-inverse btn-lg btn-block">Cancel</button>
    </div>
    <div class="col-xs-4">
      <button ng-click="submitBorrowRequest()" class="btn btn-outline-inverse btn-lg btn-block">Accept</button>
    </div>
  </div>
</section>


