<a href="#/dashboard">Back</a>
<h2>C (add logo)</h2>

<form>
  <!-- TODO: make sure that currency is properly formatted -->
  <input type='number' min=0 step=.01 name='debtAmount' placeholder='Amount'/>
  <input type='number' min=0 step=.01 name='debtPayback' placeholder='Payback'/>
  <input type='date' name='debtDue' />
  <input type='date' name='debtDeadline'/>
  <select>
    <option>Option A</option>
    <option>Option B</option>
    <option selected>Option C</option>
    <option>Option D</option>
  </select>
  <textarea name='debtReason' placeholder='reason why you need the dough'></textarea>

  <button class='btn btn-danger'>Cancel</button>
  <button class='btn btn-success'>Next</button>
</form>