<section>
  <form class="form-horizontal" role="form" name="loanRequestForm" novalidate>
    <div class="form-group" ng-class="{ 'has-error' : loanRequestForm.debtAmount.$dirty && loanRequestForm.debtAmount.$invalid, 'has-success' : loanRequestForm.debtAmount.$dirty && !loanRequestForm.debtAmount.$invalid }">
      <div class="col-xs-12">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">$</span>
          <label for="amount" class="sr-only">Loan Amount</label>
          <input type="number" min=1 max=1000 step=10 name="debtAmount" ng-model="loan.amount.loan" class="form-control" id="amount" placeholder="Loan Amount" autofocus required />
          <span class="input-group-btn">
            <button class="btn btn-outline-inverse" type="button">?</button>
          </span>
        </div>
        <span class="help-block" ng-show="loanRequestForm.debtAmount.$dirty && loanRequestForm.debtAmount.$error.required">Loan Amount required.</span>
        <span class="help-block" ng-show="loanRequestForm.debtAmount.$dirty && loanRequestForm.debtAmount.$error.min">Minimum loan is $1.</span>
        <span class="help-block" ng-show="loanRequestForm.debtAmount.$dirty && loanRequestForm.debtAmount.$error.max">Maximum loan is $1,000.</span>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : loanRequestForm.debtDeadline.$dirty && loanRequestForm.debtDeadline.$invalid, 'has-success' : loanRequestForm.debtDeadline.$dirty && !loanRequestForm.debtDeadline.$invalid }">
      <div class="col-xs-12">
        <div class="input-group input-group-lg">
          <span class="input-group-addon glyphicon glyphicon-calendar"></span>
          <label for="deadline" class="sr-only">Need by deadline</label>
          <input name="debtDeadline" value="{{ loan.date.neededBy }}" min="{{ loan.date.neededBy }}" ng-model="loan.date.neededBy" type="date" class="form-control" id="deadline" required />
          <span class="input-group-btn">
            <button class="btn btn-outline-inverse" type="button">?</button>
          </span>
        </div>
        <span class="help-block" ng-show="loanRequestForm.debtDeadline.$dirty && loanRequestForm.debtDeadline.$error.required">Select a date by which you need the loan.</span>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : loanRequestForm.debtPayback.$dirty && loanRequestForm.debtPayback.$invalid, 'has-success' : loanRequestForm.debtPayback.$dirty && !loanRequestForm.debtPayback.$invalid }">
      <div class="col-xs-12">
        <div class="input-group input-group-lg">
          <span class="input-group-addon">$</span>
          <label for="amount" class="sr-only">Payback Amount</label>
          <input type="number" name="debtPayback" class="form-control" ng-model='loan.amount.payback' id="payback-amount" placeholder="Payback Amount" payback-validation required>
          <span class="input-group-btn">
            <button class="btn btn-outline-inverse" type="button">?</button>
          </span>
        </div>
        <span class="help-block" ng-show="loanRequestForm.debtPayback.$dirty && loanRequestForm.debtPayback.$error.required">Payback amount required.</span>
        <span class="help-block" ng-show="loanRequestForm.debtPayback.$dirty && loanRequestForm.debtPayback.$error.min">Minimum loan is $10.00.</span>
        <span class="help-block" ng-show="loanRequestForm.debtPayback.$dirty && loanRequestForm.debtPayback.$error.paybackThreshold">Payback amount must be greater than or equal to loan amount.</span>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : loanRequestForm.debtDueSelection.$dirty && loanRequestForm.debtDueSelection.$invalid, 'has-success' : loanRequestForm.debtDueSelection.$dirty && !loanRequestForm.debtDueSelection.$invalid }">
      <div class="col-xs-12">
        <div class="input-group input-group-lg">
          <span class="input-group-addon glyphicon glyphicon-list"></span>
          <label for="payback-deadline" class="sr-only">Payback deadline</label>
          <select name="debtDueSelection" ng-model="loan.paybackDays" class="form-control" id="payback-deadline" required>
            <option value="" disabled selected>Payback deadline</option>
            <option value="7">One week</option>
            <option value="14">Two weeks</option>
            <option value="30">One month</option>
            <option value="60">Two months</option>
            <option value="90">Three months</option>
            <option value="180">Six months</option>
            <option value="365">Twelve months</option>
          </select>
          <span class="input-group-btn">
            <button class="btn btn-outline-inverse" type="button">?</button>
          </span>
        </div>
        <span class="help-block" ng-show="loanRequestForm.debtDueSelection.$dirty && loanRequestForm.debtDueSelection.$error.required">Payback deadline required.</span>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : loanRequestForm.debtCategory.$dirty && loanRequestForm.debtCategory.$invalid, 'has-success' : loanRequestForm.debtCategory.$dirty && !loanRequestForm.debtCategory.$invalid }">
      <div class="col-xs-12">
        <div class="input-group input-group-lg">
          <span class="input-group-addon glyphicon glyphicon-tags"></span>
          <label for="purpose-category" class="sr-only">Purpose Category</label>
          <select name="debtCategory" ng-model="loan.category" class="form-control" id="purpose-category" required>
            <option value="" disabled selected>Purpose</option>
            <option value="education">Education</option>
            <option value="transportation">Transportation</option>
            <option value="entertainment">Entertainment</option>
            <option value="health">Health</option>
            <option value="">Other</option>
          </select>
          <span class="input-group-btn">
            <button class="btn btn-outline-inverse" type="button">?</button>
          </span>
        </div>
        <span class="help-block" ng-show="loanRequestForm.debtCategory.$dirty && loanRequestForm.debtCategory.$error.required">Purpose category required.</span>
      </div>
    </div>
    <div class="form-group" ng-class="{ 'has-error' : loanRequestForm.purpose.$dirty && loanRequestForm.purpose.$invalid, 'has-success' : loanRequestForm.purpose.$dirty && !loanRequestForm.purpose.$invalid }">
      <div class="col-xs-12">
        <label for="purpose" class="sr-only">Purpose text</label>
        <textarea name="purpose" id="purpose" class="form-control" rows="3" maxlength="140" ng-model="loan.reason" placeholder="Elaborate on why you need the loan.  More information increases the likehood of lending. You have 140 characters." required></textarea>
        <span class="help-block" ng-show="loanRequestForm.purpose.$dirty && loanRequestForm.purpose.$error.required">Purpose category required.</span>
      </div>
    </div>
    <div class="bottom-button-group row">
      <div class="col-xs-4 col-xs-offset-1">
        <button type="button" class="btn btn-outline-inverse btn-lg" ng-click="cancel()">Cancel</a>
      </div>
      <div class="col-xs-4 col-xs-offset-1">
        <button class="btn btn-outline-inverse btn-lg" ng-click="borrowConfirm()" ng-disabled="loanRequestForm.$invalid" >Submit</button>
      </div>
    </div>
  </form>
</section>
