<section ng-cloak>

  <div class="row userDashTitle">
    <div class="col-xs-12">
      <h3 class="white text-center">User Dashboard</h3>
    </div>
  </div>

  <div ng-hide="!showDashboard"  class="row ng-cloak">
    <div class="col-xs-5 userDashPhoto">
      <img src={{user.user.profile_picture_url}} alt="Profile Picture" class="img-circle img-responsive center-block" />
    </div>
    <div class="col-xs-7">
      <div class="row">
        <div class="col-xs-12">
          <p class="h4 white"><strong>{{user.user.display_name}}</strong></p>
          <p class="white"><strong>Karma:</strong> {{user.karma}}</p>
          <p class="white"><strong>Org:</strong> {{user.organization}}</p>
          <p class="white"><strong>email:</strong> {{user.username}}</p>
        </div>
      </div>
    </div>

    <div ng-hide="!borrower" class='loanSnippet row'>

      <div class="col-xs-9">
        <p class="h4 white loanDetail">Name:  {{user.user.display_name}}</p>
        <p class="h4 white loanDetail">Organization:  {{user.organization}}</p>
        <p class="h5 white loanDetail">Category:  {{loanView.category}}</p>
        <p class="h5 white loanDetail">Amount Requested:  ${{loanView.principal}}.00 by {{loanView.match_deadline}}</p>
        <p class="h5 white loanDetail">Amount Paid Back:  ${{loanView.payback_amount}}.00 within {{loanView.payback_days}} days of receipt.</p>
      </div>

    </div>

    <div ng-hide="borrower" class='bottom-button-group'>
      <div class='row'>
        <div class='col-xs-4 col-xs-offset-2'>
          <a href="/#borrow" class="btn btn-outline-inverse btn-lg center-block">Borrow</a>
        </div>
        <div class='col-xs-4' >
          <a href="/#lend" class="btn btn-outline-inverse btn-lg center-block">Lend</a>
        </div>
      </div>
    </div>
  </div>

  <div ng-hide="!borrower" class="bottom-button-group row">
    <div class="col-xs-12">
      <p class="text-center">
        <button  type="button" ng-click="repayLoan()" class="btn btn-outline-inverse btn-lg center-block">Repay Loan</button>
      </p>
    </div>
  </div>

  <div ng-hide="venmoConnected" class="row">
    <div class="col-xs-12">
      <p class="h4 white text-center">You need to connect with Venmo to begin using Copia!</p>
    </div>
    <p class="text-center">
      <br>
      <br>
      <button class="btn btn-outline-inverse btn-lg" ng-click='venmoAuth()'>Venmo Connect</button>
    </p>
  </div>

</section>
