<section>
  <div class="row">
    <div class="col-xs-4">
      <div ng-show='!venmoConnected'>
        <button class="btn btn-outline-inverse btn-lg" ng-click='venmoAuth()'>Connect with Venmo</button>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div>
        <h3 class="white">Dashboard</h3>
        <p class="h4 white"><strong>Hello, I am a Dashboard</strong> is awesome because the alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate. Leela, Bender, we're going grave robbing. Hey, whatcha watching? Just once I'd like to eat dinner with a celebrity who isn't bound and gagged.</p>
      </div>
    </div>
  </div>

  <div class="bottom-button-group">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-1">
        <a href="/#borrow" class="btn btn-outline-inverse btn-lg">Borrow</a>
      </div>
      <div class="col-xs-4 col-xs-offset-1">
        <a href="/#lend" class="btn btn-outline-inverse btn-lg">Lend</a>
      </div>
    </div>
  </div>
  
</section>
