<section ng-cloak>

  <div class="row userDashTitle">
    <div class="col-xs-12">
      <h3 class="white text-center">User Dashboard</h3>
    </div>
  </div>

  <div ng-hide="!showDashboard"  class="row ng-cloak">
    <div class="row">
      <div class="col-xs-12 userDashName">
        <p class="h3 white text-center">{{user.user.display_name}}</p>
      </div>
    </div>
    <div class="col-xs-5 userDashPhoto">
      <img src={{user.user.profile_picture_url}} alt="Profile Picture" class="img-circle img-responsive center-block" />
    </div>
    <div class="col-xs-7">
      <div class="row">
        <div class="col-xs-12">
          <p class="h3 white">Karma: {{user.karma}}</p>
          <p class="h5 white">{{user.organization}}</p>
          <p class="h5 white">{{user.username}}</p>
        </div>
      </div>
    </div>

    <div class='bottom-button-group'>
      <div class='row'>
        <div class='col-xs-4 col-xs-offset-2'>
          <a href="/#borrow" class="btn btn-outline-inverse btn-lg center-block">Borrow</a>
        </div>
        <div class='col-xs-4' >
          <a href="/#lend" class="btn btn-outline-inverse btn-lg center-block">Lend</a>
        </div>
      </div>
    </div>
  </div>

  <div ng-hide="showDashboard" class='bottom-button-group'>
    <div class='row'>
      <div class='col-xs-4 col-xs-offset-2'>
        <button  type="button" ng-click="repayLoan()" class="btn btn-outline-inverse btn-lg center-block">Repay Loan</button>
      </div>
    </div>
  </div>

  <div ng-hide="venmoConnected" class="row">
    <div class="col-xs-12">
      <p class="h4 white">You need to connect with Venmo to begin using Copia!</p>
    </div>
    <p class="text-center">
      <button class="btn btn-outline-inverse btn-lg" ng-click='venmoAuth()'>Venmo Connect</button>
    </p>
  </div>

</section>
