<div ng-show='getRequestComplete'>
  <div class='loanDetails row' ng-show='loan !== null'>
    <div class="col-xs-12 lendingDashTitle">
      <h2 class="white text-center">Loan Details</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center white">
      <p class="h2 loanDetail"><strong>{{loan.borrower_id.user.display_name}}</strong></p>
      <p class="h3 loanDetail"><strong>Organization:</strong>  {{loan.borrower_id.organization}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 white">
      <p class="h4 loanDetail"><strong>Category:</strong>  {{loan.category}}</p>
      <p class="h4 loanDetail"><strong>Purpose:</strong>  {{loan.purpose}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2 white">
      <p class="h4 loanDetail"><strong>Request:</strong>  ${{loan.principal}}.00 by {{loan.match_deadline}}</p>
      <p class="h4 loanDetail"><strong>Payback:</strong>  ${{loan.payback_amount}}.00 within {{loan.payback_days}} days of receipt.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <p class="h4 white loanDetail"><strong>Bio:</strong>  {{loan.borrower_id.user.about}}</p>
    </div>
  </div>
  <div class='row button-group'>
    <div class='col-xs-4 col-xs-offset-2'>
      <button class="btn btn-outline-inverse btn-lg btn-block" ng-click='returnToDashboard()'>Back</button>
    </div>
    <div class='col-xs-4' >
      <button class="btn btn-outline-inverse btn-lg btn-block" ng-click="openConfirmation()">Fund</button>
    </div>
  </div>

  <!-- Display error message if loan doesn't exist in db -->
  <div class='loanLoadError' ng-show='loan === null'>
    <p>Sorry, <em class='nonexistentLoan'>Loan #{{loanId}}</em> does not exist.</p>
    <button class='btn btn-success' ng-click='returnToDashboard()'>Return to Lending Dashboard</button>
  </div>

</div>

<script type="text/ng-template" id="modalConfirmation.html">
  <div class="modal-header fundingConfirmation">
    <h3 class='text-center'>Funding Confirmation</h3>
  </div>
  <div class="modal-body fundingConfirmation">
    <p>You agree to fund {{loan.borrower_id.user.display_name}}s request for ${{loan.principal}}.00.</p>
    <p>{{loan.borrower_id.user.display_name}}s agrees to refund you ${{loan.payback_amount}}.00 within {{loan.payback_days}} of receipt.</p>
    <br>
    <strong>Terms of Service</strong>
    <p></p>
  </div>
  
  <div class="modal-footer fundingConfirmation">
    <div class="button-group row confirmButtons">
      <div class='col-xs-6 text-center'>
        <button class='fundConfButton btn-outline-inverse btn' ng-click='cancelModal()'>Cancel</button>
      </div>
      <div class='col-xs-6 text-center'>
        <button class='fundCancButton btn-outline-inverse btn' ng-click='confirmFunding()'>Confirm Funding</button>
      </div>
    </div>
  </div>
</script>

