
<div class='col-xs-5'>
  <p class='h3 white text-center'>
    <strong>{{loan.borrower_id.user.display_name}}</strong>
  </p>
  <p class='text-center'>
    <img ng-src={{enlargePhotoURL(loan.borrower_id.user.profile_picture_url)}} alt="Profile Picture" class="img-circle profileImg" />
  </p>
  <p class='h3 white text-center'>
    <strong>Karma: {{loan.borrower_id.karma}}</strong>
  </p>
</div>

<div class="col-xs-7 white h4">
  <div class='vert-pad'>
    <p><strong>Organization:</strong>  {{loan.borrower_id.organization}}</p>
    <p><strong>Request:</strong> ${{loan.principal}}.00</p>
    <p><strong>Category:</strong> {{loan.category}}</p>
    <p><strong>By:</strong> {{loan.match_deadline}}</p>
    <p><strong>Payback:</strong> ${{loan.payback_amount}}.00</p>
    <p><strong>Within:</strong> {{loan.payback_days}} days of receipt.</p>
  </div>
</div>