<section>
  <form class="form-horizontal" role="form" name="signup" novalidate>
    
    <div class="form-group" ng-class="{ 'has-error' : failedLogin }">
      <div class="col-xs-12">
        <div class="input-group input-group-lg">
          <label for="email" class="sr-only">Email</label>
          <input type="email" name="email" ng-model="email" class="form-control" id="email" placeholder="Email" autofocus required />
          <span class="input-group-btn">
            <button popover-placement="left" popover="The email address that will be associated with your Copia account." 
              class="btn btn-outline-inverse" type="button">?</button>
          </span>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group input-group-lg">
          <label for="organization" class="sr-only">Organization</label>
          <input type="text" name="organization" ng-model="organization" class="form-control" id="organization" placeholder="Organization" required />
          <span class="input-group-btn">
            <button popover-placement="left" popover="An organization/community that you are associated with. 
                                                      This information will be used to help match borrowers and funders." 
              class="btn btn-outline-inverse" type="button">?</button>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group input-group-lg">
          <label for="password" class="sr-only">Password</label>
          <input name="password" ng-model="password" type="password" class="form-control" id="password" placeholder="Password" required />
          <span class="input-group-btn">
            <button popover-placement="left" popover="The password associated with your Copia account." 
              class="btn btn-outline-inverse" type="button">?</button>
          </span>
        </div>
      </div>
    </div>

<!--     <div class="form-group">
      <div class="col-xs-12">
        <div class="input-group input-group-lg">
          <label for="passwordConfirmation" class="sr-only">Password Confirmation</label>
          <input name="password" ng-model="passwordConfirmation" type="password" class="form-control" id="password" placeholder="Password Confirmation" required />
          <span class="input-group-btn">
            <button class="btn btn-outline-inverse" type="button">?</button>
          </span>
        </div>
      </div>
    </div> -->

    <div class="bottom-button-group">
      <div class="row">
        <div class="col-xs-4 col-xs-offset-1">
          <button type="button" class="btn btn-outline-inverse btn-lg" ng-click="splashPage()">Cancel</a>
        </div>
        <div class="col-xs-4 col-xs-offset-1">
          <button class="btn btn-outline-inverse btn-lg" ng-click="signUp()">Sign Up</button>
        </div>
      </div>
    </div>

    <div class='help-block row loginError' ng-show='failedLogin'>
      <p class='loginErrorText text-center'>Username is already registered.</p>
    </div>
  </form>
</section>
