<section>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <h3 class="white">I am an Awesome Dashboard!</h3>
        <p class="h4 white">Aww, it's true. I've been hiding it for so long. Throw her in the brig. No! The cat shelter's on to me. Oh, you're a dollar naughtier than most.</p>
      </div>
    </div>
  </div>
  <div class="bottom-button-group">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-1">
        <a href="/borrow" class="btn btn-outline-inverse btn-lg">Borrow</a>
      </div>
      <div class="col-xs-4 col-xs-offset-1">
        <a href="/lend" class="btn btn-outline-inverse btn-lg">Lend</a>
      </div>
    </div>
  </div>
</section>
