html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #00b2ba;
  margin-bottom: 60px;
}

.content {
  margin-top: 20px;
  width:100%
}

.white {
  color: #ffffff;
}

/*
 * Button Inverse
 *
 * Buttons in the masthead.
 */

.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #cdbfe3;
}

@media (min-width: 768px) {
  .btn-outline-inverse {
      width: auto;
      margin: 20px 5px 20px 0;
      padding: 18px 24px;
      font-size: 21px;
  }
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
  color: #563d7c;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}

.input-group-addon.glyphicon {
  padding: 10px 12px;
}


.bottom-button-group {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

/* views/borrow.html */

textarea {
  resize: none;
}

/*
.dollarimg {
    height: 25px;
}

textarea[name=debtReason] {
    resize: none;
}

.loanRequestForm {
    background-color: rgba(200,200,200,0.75);
    border: 3px solid black;
}

form[name=loanRequestForm].ng-invalid.ng-dirty {
    border: 3px solid yellow;
}

form[name=loanRequestForm].ng-valid.ng-dirty {
    border: 3px solid forestgreen;
}

form[name=loanRequestForm] input.ng-invalid.ng-dirty {
    border: 3px solid red;
}

form[name=loanRequestForm] input.ng-valid.ng-dirty {
    border: 3px solid forestgreen;
}
*/
footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}
