html {
  position: relative;
  min-height: 100%;
  max-width: 940px;
}

body {
 /* background-color: #00b2ba; */
  margin-bottom: 60px;
}

.content {
  margin-top: 20px;
  width: 100%;
}

.white {
  color: #ffffff;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/*
 * Video Background
*/

#video-background {
  position: absolute;
  bottom: 0px;
  right: -400px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
  overflow: hidden;
}

.video-cover {
  background-color: #00b2ba;
  position: fixed;
  opacity: .4;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/*
 * Button Inverse
 *
 * Buttons in the masthead.
 */

.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #cdbfe3;
}

@media (min-width: 768px) {
  .btn-outline-inverse {
      width: auto;
      margin: 20px 5px 20px 0;
      padding: 18px 24px;
      font-size: 21px;
  }
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
  color: #563d7c;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}

.input-group-addon.glyphicon {
  padding: 10px 12px;
}


.bottom-button-group {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

/* views/borrow.html */

textarea {
  resize: none;
}

.input-group input[type="date"] {
  width: 204px;
}

/*
.dollarimg {
    height: 25px;
}

textarea[name=debtReason] {
    resize: none;
}

.loanRequestForm {
    background-color: rgba(200,200,200,0.75);
    border: 3px solid black;
}

form[name=loanRequestForm].ng-invalid.ng-dirty {
    border: 3px solid yellow;
}

form[name=loanRequestForm].ng-valid.ng-dirty {
    border: 3px solid forestgreen;
}

form[name=loanRequestForm] input.ng-invalid.ng-dirty {
    border: 3px solid red;
}

form[name=loanRequestForm] input.ng-valid.ng-dirty {
    border: 3px solid forestgreen;
}
*/
footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.loanDetail {
  padding: 0;
  margin: 3px;
}

.loanSnippets {
  list-style-type: none;
  padding-left: 0px;
}

.loanSnippet {
  border: 3px solid rgba(199, 95, 54, 0.90);
  margin-bottom: 15px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 15px;
  padding: 10px;
}

.loanSnippet:hover {
  background-color: rgba(75, 75, 75, 0.30);
}

.userDashTitle, .lendingDashTitle {
  background-color: rgba(199, 95, 54, 0.90);
  margin-bottom: 20px;
}

.userDashName {
  background-color: rgba(100, 100, 100, 0.50);
  margin-bottom: 10px;
  padding-top: 5px;
  border-bottom: 2px solid rgba(199, 95, 54, 0.90);
  border-top: 2px solid rgba(199, 95, 54, 0.90);
}

.userDashPhoto {
  padding-right : 0px;
}
