.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:70px;
    width:100%
}

body {
  background-color: #00b2ba;
}

/*
 * Button Inverse
 *
 * Buttons in the masthead.
 */

.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #cdbfe3;
  margin: 10px;
}

@media (min-width: 768px) {
  .btn-outline-inverse {
      width: auto;
      margin: 20px 5px 20px 0;
      padding: 18px 24px;
      font-size: 21px;
  }
}

.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
  color: #563d7c;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}

.dollarimg {
    height: 25px;
}

textarea[name=debtReason] {
    resize: none;
}

.loanRequestForm {
    background-color: rgba(200,200,200,0.75);
    border: 3px solid black;
}

form[name=loanRequestForm].ng-invalid.ng-dirty {
    border: 3px solid yellow;
}

form[name=loanRequestForm].ng-valid.ng-dirty {
    border: 3px solid forestgreen;
}

form[name=loanRequestForm] input.ng-invalid.ng-dirty {
    border: 3px solid red;
}

form[name=loanRequestForm] input.ng-valid.ng-dirty {
    border: 3px solid forestgreen;
}   

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}
